<!DOCTYPE html>
<html>
<head>
 <title> Blog  </title> 
 <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css" integrity="sha512-8bHTC73gkZ7rZ7vpqUQThUDhqcNFyYi2xgDgPDHc+GXVGHXq+xPjynxIopALmOPqzo9JZj0k6OqqewdGO3EsrQ==" crossorigin="anonymous" />
 <link href="/stylesheet/app.css" rel="stylesheet" type="text/css">
 <link href="https://fonts.googleapis.com/css2?family=Lobster&display=swap" rel="stylesheet">
</head>
<body>
    <div class="ui inverted segment ">
        <div class="ui inverted secondary pointing menu container">
          <div class="header-item"><i class="clipboard outline icon"></i>  Blooog</div>
            <a class="item" href="/blogs">
            Home
          </a>
          <a class="item" href="/blogs/new">
            New Post
          </a>
        </div>
      </div>